*{
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    margin: 0;
    padding: 0;
    justify-content: center;
}
/* NAVBAR SECTION */
.navbar{
    background: #333;
    height: 100px;
    width: 100%;
    border-bottom: 5px solid #ffb100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    width: 230px;
    height: auto;
    display: block;
    margin-left: 30px;
    margin-top: 5px;
}
.navbarlinks{
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding-right: 30px;
    align-items: center;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
a:hover{
    color: #ffb100;
    transition: 0.3s;
}
.mainbutton{
    background: #ffb100;
    border: 0;
    outline: 0;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
}
.mainbutton:hover{
    background: #fff;
    color: #ffb100;
    transition: 0.3s;
}

/* HERO SECTION */
.hero {
    width: 100%;
    height: 100%;
    object-fit: cover;        /* makes sure image covers area */
    display: block;
  }
.sunrise{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.header-column{
    position: absolute;       /* place it on top of the image */
    top: 50%;                 /* vertically centered */
    left: 50%;                /* horizontally centered */
    transform: translate(-50%, -50%); /* centering in the image */
    text-align: center;
    color: white;
}
h1{
    font-size: 80px;
    font-weight: bolder;
}